@model IEnumerable<LogicaDeNegocio.Entidades.Articulo>

@{
    ViewData["Title"] = "Articulos";
}

<h1>Articulos</h1>
@if (@ViewBag.Mensaje != null)
{
    <div class="alert alert-success" role="alert">
        <p>@ViewBag.Mensaje</p>
    </div>
}
@if (@Model != null && Model.Count()==0)
{
    <div class="alert alert-danger" role="alert">
        <p>Aun no existen articulos cargados en el sistema</p>
    </div>
}
@if (Model != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                Precio de venta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDeVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
<p>
    <a asp-action="Create">Nuevo articulo</a>
</p>
