@using LogicaDeNegocio.Entidades
@model IEnumerable<Articulo>


@{
    ViewData["Title"] = "Articulos";
}

<h1>Articulos</h1>

@if (@ViewBag.Mensaje != null)
{
    <div class="@ViewBag.Color" role="alert">
        <p>@ViewBag.Mensaje</p>
    </div>
}
@if (@Model != null && Model.Count()==0)
{
    <div class="alert alert-danger" role="alert">
        <p>Aun no existen articulos que puedan ser comprados</p>
    </div>
}
@if (Model != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                Precio base
            </th>
            <th>
                Stock actual
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDeVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <form action="Agregar">
                <div class="form-group" >
                    <label for="cantidad" class="control-label">Cantidad: </label>
                    <input type="number" name="cantidad" class="col-2" />
                    <input type="number" name="id" value=@item.Id hidden />
                    <input type="submit" value="Agregar" class="btn btn-primary col-3"/>
                </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
}
<h3>Lista de articulos a comprar</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Codigo
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Total base
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Lista)
        {
            <tr>
                <td>
                    @item.Articulo.Nombre
                </td>
                <td>
                    @item.Articulo.Codigo
                </td>
                <td>
                    @item.Cantidad
                </td>
                <td>
                    @item.Precio
                </td>
                <td>
                    <a asp-action="DeleteLinea" asp-route-idArt="@item.Articulo.Id" asp-route-cantidad="@item.Cantidad" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-success">Consolidar pedido</a>
    <a asp-action="Cancel" class="btn btn-danger">Cancelar pedido</a>

</p>